{% extends 'base.html' %}

<!-- loading tags -->
    {% load static %}



{% block Title %}
    {{ prodcut.name }} product
{% endblock %}


{% block HeaderTitle %}
    Product
{% endblock %}


{% block HeaderText %}
    buy expensive but safe ...
{% endblock %}

{% comment %}
    the product name here is the product from "view option" buttion url from "pages/home.html"
    note: its not equals to product model from "pages/home.html" why?
    well becouse "pages/home.html" is geting all the product* but "pages/product.html"
    only gets one model with the id which was
    given to it by "pages/home.html"
{% endcomment %}


{% block Content %}
    <div class="container">
        <div class="row">
            <div class="card mb-2 mt-2">
                <center>
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                </center>
                <center>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">{{ product.name }}</h5>
                            <div class="card m-2">
                                <div class="card-body">
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                            </div>
                            <div class="card m-2">
                                <div class="card-body">
                                    {% if product.on_sale %}
                                        <strike>
                                            ${{ product.price }}
                                        </strike>
                                        ${{ product.sale_price }}
                                    {% else %}
                                        ${{ product.price }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card m-2">
                                <div class="card-body">
                                    {{product.category}}
                                </div>
                            </div>
                            <div class="card m-2">
                                <div class="card-body">
                                    {{product.id}}
                                </div>
                            </div>
                            <div class="card m-2">
                                <div class="card-body">
                                    <a href="{% url 'home' %}">
                                        <button type="button" class="btn btn-success">Home Page</button>
                                    </a>
                                </div>
                            </div>
                            <div class="card m-2">
                                <div class="card-body">
                                    <button type="button"  value="{{ product.id }}" class="btn btn-success" id="add-cart">Add To Cart</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </center>
            </div>
        </div>  
    </div>
    <script>
        $(document).on('click' , '#add-cart' , function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "cart_add" %}',
                data: {
                    product_id: $('#add-cart').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post',
                },

                success: function(json){
                    document.getElementById("cart-quantity").textContent = json.product_quantity
                },

                error: function(xhr , errmsg , err){

                },
            });
        })
    </script>
{% endblock %}